@charset "ISO-8859-1";

h1, h3, h5{
	text-align : center;
}

* {
	margin : 0;
	padding : 0;
}

#formulaires {
	display : flex;
	flex-direction : row;
	justify-content : space-around;
	flex-wrap: wrap;
}

.form {
	margin : auto;
}

